@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #293241;
}

:root {
  --color-body: #E0FBFC;
  --color-hover: #E0FBFC;
  --color-link: #EE6C4D;
  --color-title: #3D5A80;
  --color-background: #293241;
}


body {
  background-color: var(--color-body);
}

/* NAVBAR */
.menu {
  display: flex;
  justify-content: flex-end;
  display: none;
}
.nav-item .nav-link {
  color: var(--color-link);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
  color: var(--color-hover);
  transform: translateY(-3px);
}


/* SECTION HOME */
.container-md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.container-md h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-title);
}

.typing {
  overflow: hidden;
  border-right: 2px solid var(--color-link);
  white-space: nowrap;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--color-title);
  animation: typing 4s steps(30, end) infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 40%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--color-link);
  }
}

.list-inline-item a {
  color: var(--color-title);
  text-decoration: none;
  font-size: 30px;
  transition: all 0.15s linear;
}

li a:hover {
  color: var(--color-link);
}


/* SECTION SOBRE */
#sobre {
  margin-top: 7rem;
  background-color: var(--color-background);
  border-radius: 5px;
}

#sobre .display-3 {
  text-align: center;
  color: var(--color-link);
  font-weight: 600;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

#sobre .display-3::after {
  content: "";
  width: 140px;
  height: 4px;
  background: currentColor;
  display: block;
  margin: 10px auto;
}

#sobre p {
  color: #ffffff;
  text-align: center;
  margin-top: 5rem;
}

.card {
  width: 300px;
  height: 350px;
  margin-bottom: 5rem;
  border-radius: 4px;
  filter: contrast(120%);
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
  background: rgb(61, 90, 128, .9);
}

.card-img-overlay:hover {
  opacity: 1;
}

.card-img-overlay a {
  text-decoration: none;
  color: var(--color-link);
  font-size: 4.5rem;
}

.card-img-overlay a:hover {
  transform: translateY(-5px);
  transition: all 0.7s;
  
}


/* SECTION FORMACAO */
#formacao {
  margin-top: 7rem;
}

#formacao .display-3 {
  text-align: center;
  color: #45769E;
  font-weight: 600;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

#formacao .display-3::after {
  content: "";
  width: 140px;
  height: 4px;
  background: currentColor;
  display: block;
  margin: 10px auto;
}

.accordion-body .list-unstyled {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
}


/* SECTION PROJETOS */
#projetos {
  margin-top: 7rem;
}

#projetos .display-3 {
  text-align: center;
  color: #45769E;
  font-weight: 600;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

#projetos .display-3::after {
  content: "";
  width: 140px;
  height: 4px;
  background: currentColor;
  display: block;
  margin: 10px auto;
}

#projetos img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

#projetos img:hover{
  transform: scale(1.2);
}

.card-body a {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.7rem;
  color: var(--color-title);
}

.card-body a:hover {
  color: var(--color-link);
}


/* SECTION CONTATO  */
#contato {
  margin-top: 7rem;
}

#contato .display-3 {
  text-align: center;
  color: #45769E;
  font-weight: 600;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

#contato .display-3::after {
  content: "";
  width: 140px;
  height: 4px;
  background: currentColor;
  display: block;
  margin: 10px auto;
}

#contato ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contato li {
  margin-left: -4rem;
}

#contato li i {
  font-size: 20px;
  text-align: center;
  margin-right: .5rem;
  color: var(--color-link);
}

.ri-arrow-up-circle-fill {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-background);
  transition: all 0.5s;
}

.ri-arrow-up-circle-fill:hover {
  color: var(--color-title);
}

#rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--color-link);
}

.container-footer a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--color-background);
  transition: all 0.5s;
}

.container-footer a:hover {
  color: var(--color-hover);
}




@media screen and (max-width: 768px) {
  .container-md h1 {
    text-align: center;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 83%;
    }
  }

  .card {
    display: block;
    margin-left: 60%;
    width: 200px;
    height: auto;
  }
}